* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header {
    position: relative;
    display: flex;
    background-color: #a5bce4;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.header h2 {
    margin-left: 20px;
    margin-top: 0;
    justify-content: center;
}

.header img {
    width: 80px;
    height: 90px;
    margin-left: 55px;
}

.botoesCadastroLogin {
    display: flex;
    align-items: end;
    justify-content: space-between;
    
}

.botoesCadastroLogin button {
    background-color: #709ae3;
    border: none;
    color: #000;
    border-radius: 50px;
    margin: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    position: relative;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

button:hover {
    color: #fff;
}

#navBar {
    margin-top: 80px;
    list-style: none;
    display: flex;
}

#navBar li {
    margin: 10px;
}

#navBar li a {
    font-size: larger;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

#navBar li a:hover {
    color: #fff;
}

#div_bannerJogo {
    position: relative;
    height: 2000px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#div_bannerJogo #bg {
    height: 2000px;
    object-fit: fill;
    display: flex;
}

#caixaTexto {
    top: 10%;
    left: 25%;
    position: absolute;
    z-index: 3;
    width: 50%;
    height: 40%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.40) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#containerTextoCriador {
    display: flex;
    justify-content: space-around;
    margin: 25px;
    margin-top: 7%;
}

#containerTextoCriador p {
    font-weight: bold;
    font-size: 120%;
}

#containerP {
    overflow-y: auto;
    height: 400px;

}

#imagemCriador {
    margin-right: 10px;


}

#imagemCriador img {
    border-width: 10px;
    border-style: solid;
    border-color: #a5bce4;
    border-radius: 15px;
}

#containerLogo {
    top: 45%;
    position: absolute;
    z-index: 3;
    width: fit-content;
    display: flex;
    justify-content: center;

}

#containerLogo img {
    width: 80%;
}

.logoSV {
    justify-content: center;
    justify-self: center;
}

#caixaTextoJogo {
    top: 65%;
    left: 25%;
    position: absolute;
    z-index: 3;
    width: 50%;
    height: 30%;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.40) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#caixaTextoJogo h1 {
    margin-top: 10%;
}

#containerTextoJogo {
    display: flex;
    justify-content: space-betweens;
    margin: 25px;
    margin-top: 7%;

}

#containerTextoJogo p {
    font-weight: bold;
    font-size: 90%;
    margin-right: 15px;
}

#imagemJogo {
    margin-right: 10px;

}

#imagemJogo img {
    border-width: 10px;
    border-style: solid;
    border-color: #a5bce4;
    border-radius: 15px;
}

.footer {
    display: flex;
    background-color: #a5bce4;
    justify-content: space-between;

}

.footer img {
    width: 80px;
    height: 90px;
    margin-left: 55px;
}

.footer h2 {
    margin-left: 20px;
    margin: 0px;
    justify-content: center;
}

#redeSocial {
    display: flex;
    align-items: center;
}

.imgRedes img {
    width: 60px;
    margin-left: 20px;
}

#imgLinkedin {
    width: 50px;
}

.sobreCriadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.textoCriadora {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#imgCriadora {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#imgCriadora img{
    width: 800px;
}

.nomeCriadora{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.dadosCriadoraTexto{
    background-color: #a5bce4;
    border-radius: 40px;
    margin-left: 25px;
    width: 400px;
    height: 300px;
    font-size: large;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dadosCriadoraTexto h3{
    margin-left: 35px;
}

.dadosCriadora{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.containerTextoCriadora {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    height: 40%;
    background-color: indianred;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.containerTextoCriadora p {
    font-weight: bold;
    font-size: 120%;
}

.arbustos {
    margin: 0px;
}

.arbustos img {
    width: 300px;
    margin: 0px;
}

.container{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastroLogin {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.colunaLogin {
    display: flex;
    width: 500px;
    height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #709ae3;
    border-radius: 40px 0px 0px 40px;
    box-shadow: 10px 5px 5px gray;
}

.colunaCadastro{
    display: flex;
    width: 500px;
    height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0px 40px 40px 0px;
    box-shadow: 10px 5px 5px gray;
}

#botaoLogin{
    background-color: #fff;
}

input{
    border-radius: 40px;
    background-color: #a5bce4;
    width: 300px;
    height: 50px;
    margin-top: 5px;
    border: #a5bce4 solid 1px;
}

.cadastroLogin2 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.colunaCadastro2 {
    display: flex;
    width: 500px;
    height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 40px 0px 0px 40px;
    box-shadow: 10px 5px 5px gray;
}

.colunaLogin2{
    display: flex;
    width: 500px;
    height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #709ae3;
    border-radius: 0px 40px 40px 0px;
    box-shadow: 10px 5px 5px gray;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}