* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
} 

.header {
    display: flex;
    background-color: #a5bce4;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.header h1 {
    margin-left: 20px;
    margin-top: 0;
    justify-content: center;
}

.header img {
    width: 70px;
    height: 80px;
    margin-left: 90px;
}

.botoesCadastroLogin {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.botoesCadastroLogin button {
    background-color: #709ae3;
    border: none;
    color: #000;
    border-radius: 50px;
    margin: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    position: relative;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

button:hover {
    color: #fff;
}

#navBar{
    margin-top: 80px;
    list-style: none;
    display: flex;
}

#navBar li{
    margin: 10px;
}

#navBar li a {
    font-size: larger;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

#navBar li a:hover{
    color: #fff;
}
